services:
  db:
    image: postgres:18.1
    environment:
        POSTGRES_DB: ${DB_NAME}
        POSTGRES_USER: ${DB_USER}
        POSTGRES_PASSWORD: ${DB_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d ${DB_NAME} -U ${DB_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - db-data:/var/lib/postgresql
  backend:
    build: .
    command: >
      sh -c "python manage.py collectstatic --noinput &&
             python manage.py migrate &&
             daphne -b 0.0.0.0 -p 8000 core.asgi:application"
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
  bot:
    build: .
    restart: always
    command: python bot.py
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      backend:
        condition: service_started
  scheduler:
    build: .
    restart: always
    command: python manage.py run_scheduler
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      backend:
        condition: service_started
volumes:
  db-data:
